body {
    background-color: #2a3770;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: #EEEEEE;
}

.scoreboard {
    background: #1B244A;
    height: 400px;
    width: 40vw;
    border-radius: 5px;
}

h2 {
    font-family: Verdana;
    font-size: 40px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: #EEEEEE;
}

.score {
    height: 117px;
    width: 160px;
    background: black;
    border-radius: 4px;
}

span {
    font-family:'Cursed Timer ULiL';
    font-size: 90px;
    font-weight: 400;
    line-height: 127px;
    letter-spacing: 0em;
    text-align: center;
    color: #F94F6D;
}

.btn-cols {
    max-width: 23%;
}

button {
    height: 45px;
    width: 45px;
    left: 337px;
    top: 271px;
    border-radius: 5px;
    background-color: inherit;
    border: 2px solid #9AABD8;
    color: #9AABD8;
}

.new-game-btn {
    width: 150px;
    margin-left: 36%;
    margin-right: 64%;
    margin-top: 5%;
}
